@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oswald:wght@300&family=Poppins&family=Roboto+Flex:opsz,wght@8..144,300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(media/bg-image.jpg);
}

.navbar {
    padding: 20px;
    /* background-color: black; */
    display: flex;
    justify-content: space-around;
}

.navbar a {
    color: #fff;
    text-decoration: none;
    font-family: 'Poppins';

}

#nav-link {
    font-size: 12px;
    margin-top: 20px;
}
#nav-link:hover {
    color: #F66B0E;
}

#nav-btn {
    margin-top: 12px;
    padding: 10px 20px 10px 20px;
    font-size: 13px;
    color: #F66B0E;
    border: 1px solid #F66B0E;
    /* border: 2px; */
    cursor: pointer;
}

#nav-btn:hover {
    background-color: #F66B0E;
    color: #000;

}

#logo img {
    width: 65px;
    margin-right: 15px;
    margin-top: 10px;
}

#logo {
    font-size: 28px;
    font-weight: bolder;
}

.intro-section {
    height: 85vh;
    display: flex;
}

.intro {
    margin-left: 8%;
    margin-top: 5%;
    color: #fff;
    font-family: 'Oswald';
}

.intro h1 {
    text-transform: uppercase;
    font-size: 90px;
    font-weight: bolder;
}
.intro h2 {
    text-transform: uppercase;
    font-size: 30px;
}
.intro p {
    font-size: 12px;
    margin-bottom: 20px;
    font-family: 'Poppins';
}

.intro button {
    color: #fff;
    background-color: #F66B0E;
    padding: 20px 20px;
    font-size: 11px;
    border: 1px solid #F66B0E;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.stats {
    display: grid;
    grid-template-columns: repeat(3, 90px);
    /* text-align: center; */
}
.stats h1 {
    font-size: 25px;
}

.social-link a {
    margin-right: 20px;
    font-size: 25px;
    color: #fff;
}

.intro-img {
    padding: 30px 10px 10px 10px;
}

#bg-design {
    width: 596px;
    height: 125px;
    background-color: #F66B0E;
    position: absolute;
    bottom: 100px;
    z-index: -1;
}

.program-section {
    background-color: #140800;
    padding-top: 20px;
}
.program-section h3 {
    text-align: center;
    text-transform: capitalize;
    color: #F66B0E;
    font-family: 'Bebas Neue', cursive;
    font-size: 30px;
    padding-top: 40px;
}
.program-section h1 {
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
}

.program-grid {
    display: flex;
    justify-content: center;
    color: #fff;
    font-family: 'Poppins',sans-serif;
}

#box {
    border: 1px solid #F66B0E;
    font-size: 22px;
    text-align: left;
    margin: 10px;
    padding: 20px 20px 30px 20px;
    max-width: 250px;
}

#box:hover {
    background-color: #F66B0E;
}

#box i {
    font-size: 55px;
}

#box h4 {
    font-size: 25px;
}
#box p {
    font-size: 12px;
    padding-top: 20px;
    padding-bottom: 20px;
}

#box a {
    border: 1px solid #F66B0E;
    text-decoration: none;
    color: #fff;
    background-color: #F66B0E;
    font-size: 15px;
    padding: 10px;
}

.about-section {
    background-color: #140800;
    padding: 50px 50px; 
}

#about-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-family: 'poppins';
    color: #fff;
    justify-content: center;
}

#about-grid img {
    width: 80%;
    margin-left: 50px;
}

#aboutus {
    margin: 20px;
    text-align: left;
}
#aboutus p {
    font-size: 12px;
    padding-bottom: 30px;
}
#aboutus h1 {
    padding-bottom: 20px;
}

#aboutus a {
    border: 1px solid #F66B0E;
    padding: 10px;
    text-decoration: none;
    color: #fff;
}
#aboutus a:hover {
    background-color: #F66B0E;
}

#plan-box {
    border: 1px solid #F66B0E;
    font-size: 22px;
    text-align: left;
    margin: 30px;
    padding: 20px 20px 20px 40px;
    text-align: left;
    width: 270px;
}

#plan-box:hover {
    background-color: #F66B0E;
}

#plan-box h4 {
    font-size: 20px;
}
#plan-box ul {
    font-size: 15px;
    padding-bottom: 40px;
    padding-top: 20px;
}

#plan-box h2 {
    font-size: 18px;
}
#plan-box i {
    font-size: 50px;
    text-align: center;
    padding-bottom: 20px;
}
#plan-box a {
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    background-color: #F66B0E;
    border: 1px solid #F66B0E;
    padding: 10px;
}

.data-section {
    background-color: #140800;
    padding: 30px;
}

#data-point {
    padding-left: 90px;
    padding-right: 90px;
    color: #fff;
    font-family: 'Poppins';
    display: flex;
    justify-content: space-around;
}

#data  {
    text-align: center;
}
#data i {
    font-size: 32px;
}
#data h1 {
    font-size: 22px;
}
#data p {
    font-size: 8px;
}

.bmi-section {
    background-color: #140800;
    padding: 30px 40px 40px 30px;
}